<div class="container-fluid text-center">
   <h2 class = "float-left"> My Dashboard </h2>

<div class="margin" >
  <div class="row">

     <div class="col-sm-4">   
     <%= image_tag("Lookoutsche.jpg", :alt => "Schedule", class: "resize3") %>
     </div>
     
     
        
      <div class="col-sm-8">
        <h1>This weeks schedule</h1> 
        <% if @images[0]!=nil %>
        <br>
        <%= image_tag(@images[0].img_url.to_s) %> <br>
        <% end %>
        
        
        
        <% if current_user.admin %>
        
        <br><br>
    
        <button class="button_dec"><span> <%=link_to'Upload Schedule', new_image_path, class: "button_dec"%></span></button>
     
        <button class="button_dec"><%= link_to 'Delete Schedule', @images[0], method: :delete, data: { confirm: 'Are you sure?' }, class: "button_dec"%></button>
        <button class="button_dec"><%= link_to 'Previous Schedules', images_path, class:"button_dec" %></button>
        <% else %>
        <br>
        <button><%= link_to 'Previous Schedules', images_path %></button>
        
        <% end %>
        
    </div>
 </div>

  
  
    <div class="row">
        <div class="col-sm-4">
            <%= image_tag("announcement.png", :alt => "announcment", class: "resize2") %>
        </div>
        
        <div class="col-sm-8">
           <h1>Announcements</h1> 
           <% if @announcement[0]!=nil %>
        <br>
        <strong> <%= @announcement[0].title %></strong><br><br>
        <div class="txt">
           
                 <%= @announcement[0].text %> <br>
           <% end %>
           
        </div>
           <br>
            <% if current_user.admin %>
            <button class="button_dec"><span> <%=link_to'Post Announcement', new_announcement_path, class:"button_dec" %></span></button>
            <button class="button_dec"><%= link_to 'Delete Announcement', @announcement[0], method: :delete, data: { confirm: 'Are you sure?' }, class:"button_dec" %></button>
            
            <% end %>
        </div>
        
                 
           
    </div>
     
    </div>
</div>
