<div class="container-fluid text-center">
   <h1>Login</h1><br>
     <div class= "center">  
     <%= form_for :user do |f| %>
     
      
      <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email %>
      </div>
      
      <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password %>
      </div>
      
      
      
      <%= f.submit "Create my account", class: "btn btn-primary" %>
      
      
      <% end %>
    
    </div>
</div>
   
    
  
    
