<div class="container-fluid text-center">

<div class="pic">
  
  </div>

<div>
    
    <div>
        
    <div id="demo" class="carousel slide background" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    
    <div class="carousel-item active">
         <div class="row">
          <div class="col-sm-6 cen">
            
              <h1 class="orange"> Lookout </h1>
              <h3 class="white"> Work Scheduling Made Simple.</h3>
            
          </div>
          
          <div class="col-sm-6">
              <%= image_tag("carasel 1.jpg", :alt => "Happy people", class: "resize") %>
          </div>
        
        
       
        </div>
    </div>
    
    
    
    <div class="carousel-item">
      <div class="row">
       
          <div class="col-sm-6 cen">
             <h3 class="text-center white"> Make announcements  </h3>
          </div>
          
          <div class="col-sm-6"> 
          <%= image_tag("caresel 4.jpg", :alt => "Happy people", class: "resize") %> 
          </div>
        
          
      
        </div>
    </div>
    
    
    <div class="carousel-item">
       <div class="row">
          <div class="col-sm-6"> 
          <%= image_tag("caresel 5.jpg", :alt => "Happy people", class: "resize") %> 
          </div>
        
          <div class="col-sm-6 cen">
             <h3 class="text-center white"> Upload schedules </h3>
             </div>
      
        </div>
           
    </div>
    
    </div>
  

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>

<br><br>
  <div>
  
       <button class = "Button-edit" type="Sign Up"> <span><%= link_to"Sign Up", signup_path, class: "link_dec" %></span></button><br><br>
       <button class = "Button-edit" type="Login"> <span><%= link_to"Login", login_path, class: "link_dec" %></span></button><br><br>
    </div>



   
   
    
  
       
   </div>

</div>

